*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
  max-width: 1600px;
  margin: 0 auto;
  background:  rgba(26, 11, 46, 1);
}

/* navbar style  */
nav{
  max-width:75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}
nav>h2{
 color: #FFFFFF;
}
.span{
  background: linear-gradient(45deg, #F7E93F, #FB09B4,#9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav>div{
  display: flex;
  gap: 32px;
}
nav>div>p{
color:  rgba(255, 255, 255, 1);
}
.nav-btn{
  display: flex;
  align-items: center;
  gap: 0px;
  background: linear-gradient(45deg,#F7E93F, #FB09B4,#9100F8);
  padding: 12px 18px 12px 18px;
  border-radius: 25px;
}
nav>.nav-btn>button{
  background-color:transparent;
  border: none;
  font-weight: 600;
  color: #FFFFFF;
}