* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background: rgba(26, 11, 46, 1);
}

/* navbar style  */
nav {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

nav>h2 {
  color: #FFFFFF;
}

.span {
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu p {
  color: rgba(255, 255, 255, 1);
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 0px;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  padding: 12px 18px 12px 18px;
  border-radius: 25px;
}

.nav-btn button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #FFFFFF;
}

.ham-icon {
  display: none;
}


/* hero style  */
.hero-container-parent {
  width: 100%;
  background-image: url(../assets/hero-bg.png);
  background-size: contain;
  background-position: center;
  position: relative;
}

.main-content-container {
width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-circle-parent {
 margin-top: 5%;
  position: relative;
  width: 30%;
  max-width: 300px;
}

.hero-circle-parent img {
  width: 100%;
}

.badge {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: clamp(2px, 0.6vw, 6px) clamp(4px, 1.2vw, 14px);
  font-size: clamp(5px, 1.8vw, 13px);
  border-radius: 18px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.6);
  background: rgba(0, 255, 136, 1);
}

.hero-mic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.bottom-div {
  margin-top: clamp(10px, 1.5vw, 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-text-parent {
  text-align: center;
}
.hero-text-parent h2 {
  
  color: rgba(255, 255, 255, 1);
  font-size: 3.5rem;
  font-weight: 800;
}

.hero-text-parent p {
  margin: 5%;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 300;
}

.hero-btn-parent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.hero1-btn{
  display: flex;
  gap: 5px;
   background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  padding:12px 18px 12px 18px;
  border-radius: 999px;
}
.hero1-btn button {
  background-color: transparent;
  border: none;
  white-space: nowrap;
  color: #FFFFFF;
}

.hero2-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  padding: 12px 18px 12px 18px;
  border-radius: 25px;
  border: 1px solid rgba(0, 255, 136, 1);
}

.hero2-btn button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: rgba(0, 255, 136, 1);
}














@media screen and (max-width:576px) {

  .nav-menu,
  .nav-btn {
    display: none;
  }

  .ham-icon {
    display: inline;
  }

 .hero-container-parent {
    background-repeat: no-repeat;
    background-size: contain;
  }

.hero-text-parent h2{
 font-size: 2rem;
}
.hero-text-parent p{
  font-size: 10px;
}
.hero1-btn{
padding:6px 18px 6px 9px;
}
.hero2-btn{
  padding:6px 18px 6px 9px;
}
.hero-circle-parent{
width: 25%;
}


}




@media screen and (min-width:992px) {



}















