* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background: rgba(26, 11, 46, 1);
}

/* navbar style  */
nav {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

nav>h2 {
  color: #FFFFFF;
}

.span {
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu p {
  color: rgba(255, 255, 255, 1);
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 0px;
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  padding: 12px 18px 12px 18px;
  border-radius: 25px;
}

.nav-btn button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #FFFFFF;
}

.ham-icon {
  display: none;
}


/* hero style  */
.hero-container-parent {
  width: 100%;
  background-image: url(../assets/hero-bg.png);
  background-size: contain;
  background-position: center;
  position: relative;
}

.main-content-container {
width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-circle-parent {
 margin-top: 5%;
  position: relative;
  width: 30%;
  max-width: 300px;
}

.hero-circle-parent img {
  width: 100%;
}

.badge {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: clamp(2px, 0.6vw, 6px) clamp(4px, 1.2vw, 14px);
  font-size: clamp(5px, 1.8vw, 13px);
  border-radius: 18px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.6);
  background: rgba(0, 255, 136, 1);
}

.hero-mic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.bottom-div {
  margin-top: clamp(10px, 1.5vw, 16px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-text-parent {
  text-align: center;
}
.hero-text-parent h2 {
  
  color: rgba(255, 255, 255, 1);
  font-size: 3.5rem;
  font-weight: 800;
}

.hero-text-parent p {
  margin: 5%;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 300;
}

.hero-btn-parent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.hero1-btn{
  display: flex;
  gap: 5px;
   background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  padding:12px 18px 12px 18px;
  border-radius: 999px;
  cursor: pointer;
  animation: pulse 1s infinite alternate;
  box-shadow: 0 4px 10px rgba(205, 196, 196, 0.3);
}
@keyframes pulse {
  from { transform: scale(1); box-shadow: 0 4px 10px rgba(211, 202, 202, 0.3);}
  to   { transform: scale(1.1); box-shadow: 0 8px 10px rgba(215, 206, 206, 0.4);}
}
.hero1-btn button {
  background-color: transparent;
  border: none;
  white-space: nowrap;
  color: #FFFFFF;
}

.hero2-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  padding: 12px 18px 12px 18px;
  border-radius: 25px;
  border: 1px solid rgba(0, 255, 136, 1);
}

.hero2-btn button {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: rgba(0, 255, 136, 1);
}


/* about podcast  */

.about-podcast{
 padding-top: 5%;
   max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding-bottom: 5%;
}
.about-podcast h2{
  color:  rgba(255, 255, 255, 1);
font-size: 3rem;
font-weight: 700;
padding-bottom: 2%;
}
.about-podcast p{
  color:  rgba(255, 255, 255, 1);
  font-weight: 400;
}

/* card-container  */
.card-container{
  padding-top: 5%;
   max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
 
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h2{
  color:  rgba(0, 255, 136, 1);
font-size: 3rem;
font-weight: 900;
}
.card p{
  color:rgba(255, 255, 255, 1);
font-weight: 400;

}

/* why-choose section */
.why-bg{
background: rgba(35, 14, 61, 1);
padding-bottom: 5%;
}
.why-section{
   padding-top: 5%;
   max-width: 75%;
  margin: 0 auto;
  
}
.why-title h2{
  color:  rgba(255, 255, 255, 1);
font-size: 3rem;
font-weight: 700;
text-align: center;
}
.why-card-container{
  padding-top: 3%;
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
}
.why-card{
 
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 3%;
padding: 6%;
border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
}
.why-card h2{
  padding-top: 3%;
color:  rgba(255, 255, 255, 1);
font-size: 24px;
font-weight: 700;

}
.why-card p{
  color: rgba(255, 255, 255, 1);
font-weight: 400;
font-size: 14px;
text-align: left;
opacity: 0.6;


}
.item1-layout{
  grid-column:1/2;
  grid-row: 1/3;
}
.item2-layout{
  grid-column: 2/4 ;
  grid-row: 1/2;
}
.item3-layout{
  grid-column: 2/4;
  grid-row: 2/3;
}
.item4-layout{
 grid-column: 1/3;
  grid-row: 3/4;
}
.item5-layout{
 grid-column:3/4;
  grid-row: 3/4;
}
/* feature section  */
.feature-section{
  padding-top: 5%;
   max-width: 75%;
  margin: 0 auto;
}
.feature-title h2{
color:  rgba(255, 255, 255, 1);
font-size: 48px;
font-weight: 700;
text-align: center;
padding-top: 3%;
padding-bottom: 5%;

}
.feature-card-container{
display: grid;
grid-template-columns:repeat(3, 1fr) ;

gap: 5%;
padding-bottom: 5%;
}
.feature-card{
background: rgba(37, 13, 68, 1);
border-radius: 24px;
overflow: hidden;
}

.vedio{
padding-bottom: 5%;
;
}
.text{
padding-left: 6%;
padding-right: 6%;
padding-bottom: 5%;

}

.text h2{
color:  rgba(255, 255, 255, 1);
font-size: 24px;
font-weight: 700;
padding-bottom: 3%;
}
.text p{
opacity: 0.6;
color: rgba(255, 255, 255, 1);
font-weight: 400;

}
.time{
  padding-top: 4%;
  display: flex;
  gap: 2%;
  padding-bottom: 3%;
}
.time p{
color:  rgba(0, 255, 136, 1);
font-weight: 600;
}

/* host section  */

.host-section{
  padding-top: 5%;
   max-width: 75%;
  margin: 0 auto;
  padding-bottom: 5%;
}
.host-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
  border-radius: 40px;
background: rgba(53, 17, 101, 0.4);
padding: 4%;
}
.host-title h2{
color:  rgba(255, 255, 255, 1);
font-size: 48px;
font-weight: 700;
text-align: center;
padding-bottom: 5%;
}
.host-text h2{
color:  rgba(255, 255, 255, 1);
font-size: 32px;
font-weight: 700;
padding-bottom: 3%;

}
.host-text p{
color:  rgba(255, 255, 255, 1);
font-weight: 400;
opacity: 0.6;
padding-bottom: 3%;
}
.icon{
 display: flex;
 flex-direction: row;
 gap: 4%;
}
.icon img{
  padding: 5px;
  box-sizing: border-box;
border: 1px solid rgba(83, 60, 114, 1);
border-radius: 50%;
}

/* footer  */

.footer-container{
  background-image: url(../assets/footer-bg.png);
  background-size: cover;
  padding-bottom: 5%;
  position: relative;
}
.footer-middle-section{
  padding-top: 5%;
display: flex;
flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
  
 
}

.footer-middle-section h2{
  color: #FFFFFF;
  font-size: 3rem;
   padding-bottom: 3%;
}
.footer-icon{
  max-width: 40%;
  display:grid;
  grid-template-columns:repeat(4,1fr) ;
  gap: 1%;
  padding-bottom: 2%;

}
.footer-icon p{
color: rgba(255, 255, 255, 1);

font-weight: 600;
opacity: 0.6;

}
.footer-logo-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}
.footer-middle-section p{
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
opacity: 0.6;
padding-bottom: 5%;
}














@media screen and (max-width:576px) {

  .nav-menu,
  .nav-btn {
    display: none;
  }

  .ham-icon {
    display: inline;
  }

 .hero-container-parent {
    background-repeat: no-repeat;
    background-size: contain;
  }

.hero-text-parent h2{
 font-size: 2rem;
}
.hero-text-parent p{
  font-size: 10px;
}
.hero1-btn{
padding:6px 18px 6px 9px;
}
.hero2-btn{
  padding:6px 18px 6px 9px;
}
.hero-circle-parent{
width: 25%;
}
/* adout podcast  */
.about-podcast h2{
  font-size: 2rem;
}

/* card container  */
.card-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 5%;
  row-gap: 5%;
}
.card h2{
font-size: 2rem;
}
/* why choose  */
.why-card h2{
font-size: 20px;
}
.why-card-container{
   padding-top: 3%;
  display:flex;
  flex-direction: column;
  gap: 8px;
}
.why-title h2{
font-size: 2rem;
}
/* feature section  */
.feature-card-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.feature-title h2{
color:  rgba(255, 255, 255, 1);
font-size: 32px;
font-weight: 700;
}
.text h2{
  font-size: 20px;
}
 /* host section  */
.host-content{
  flex-direction: column;
}
.host-title h2{
  font-size: 32px;
font-weight: 700;
}
.host-text h2{
font-size: 24px;
font-weight: 700;
}
.host-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
 /* footer  */

.footer-container{
   
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}
.footer-middle-section{
  padding-top: 2%;
}
.footer-middle-section h2{
  font-size: 2rem;
   padding-bottom: 1%;
}
.footer-icon{
  max-width: 20%;
  display:grid;
  grid-template-columns:repeat(2,1fr) ;
  grid-template-rows: repeat(2,1fr);
}


.footer-icon p{
font-size: 12px;
opacity: 0.6;

}
.footer-logo-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.footer-middle-section p{
font-size: 10px;
padding-bottom: 2%;
}


}
 @media screen and (min-width: 992px) {
  .footer-container{
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}
 }















